* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  text-align: center;
  background-color: #264348;
}

h1, p, .goal-top {
  color: white;
  font-family: "poppins";
}

label {
  font-family: "poppins";
}

::placeholder {
  font-family: "poppins";
  color: lightgrey;
}

span {
  font-size: 600px;
  font-weight: bolder;
  font-family: "poppins";
  padding: 10px;
  color: red;
  text-shadow:1px 20px 300px #fff, 1px 20px 50px #ccc;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 5px;
}

span p {
  border: solid 10px black;
}

input {
  background: none;
  outline: none;
  border: 1px solid white;
  padding: 15px;
  border-radius: 10px;
  margin: 15px auto 15px auto;
  text-align: center;
  display: block;
  color: white;
}

span text {
  border: solid 10px #fff;
}

button {
  background: none;
  outline: none;
  border: 1px solid white;
  padding: 15px;
  border-radius: 10px;
  margin: 15px auto 15px auto;
  text-align: center;
  display: block;
  color: white;
}

button:hover {
  cursor: pointer;
  overflow: hidden;
  color: #264348;
  background-color: white;
}

#todaysgoal {
  font-family: "poppins"; 
  color: white;
  font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}


.up {
  animation: up 0.5s ease;
  position: relative;
}

.down {
  animation: down 0.5s ease;
  position: relative;
}

@keyframes up {
  0% {
    top: 0px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

@keyframes down {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

